<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flickr</key>
	<string>cfc8682c6fe82635af9cce07f4af7c4d</string>
	<key>openweather</key>
	<string>7dd77c74fb0e3fff84bcf952c592dc04</string>
</dict>
</plist>
