<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Введение</string>
		<key>description</key>
		<string>Объясняю как будет организована наша работа. Также рассказываю про наполнение UITableView при помощи NSDIffableDataSource, а также конфигурирование UITableViewCell при помощи UIContentConfiguration.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Урок 1</string>
		<key>description</key>
		<string>Рассказываю как вызывать действия по свайпу ячейки UITableView из коробки.</string>
		<key>storyboardName</key>
		<string>SwipeActions</string>
		<key>viewControllerName</key>
		<string>SwipeActionsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Урок 2</string>
		<key>description</key>
		<string>Рассказываю как добавлять вспомогательные меню при длительном нажатии на ячейку UITableView</string>
		<key>storyboardName</key>
		<string>ContextMenu</string>
		<key>viewControllerName</key>
		<string>ContextMenuViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Урок 3. Combine 1/3</string>
		<key>description</key>
		<string>Рассказываю как создавать Publisher разными способами на примере поиска url фотографий во Flickr</string>
		<key>storyboardName</key>
		<string>CombinePublishers</string>
		<key>viewControllerName</key>
		<string>CombinePublishersViewController</string>
	</dict>
</array>
</plist>
