<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Diffable Data Source</string>
		<key>description</key>
		<string>Рассказываю про наполнение UITableView при помощи NSDIffableDataSource, а также конфигурирование UITableViewCell при помощи UIContentConfiguration.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swipe Actions</string>
		<key>description</key>
		<string>Рассказываю как вызывать действия по свайпу ячейки UITableView из коробки.</string>
		<key>storyboardName</key>
		<string>SwipeActions</string>
		<key>viewControllerName</key>
		<string>SwipeActionsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Context Menu</string>
		<key>description</key>
		<string>Рассказываю как добавлять вспомогательные меню при длительном нажатии на ячейку UITableView</string>
		<key>storyboardName</key>
		<string>ContextMenu</string>
		<key>viewControllerName</key>
		<string>ContextMenuViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Combine 1/3</string>
		<key>description</key>
		<string>Рассказываю как создавать Publisher разными способами на простом примере</string>
		<key>storyboardName</key>
		<string>GeneratePublishers</string>
		<key>viewControllerName</key>
		<string>GeneratePublishersViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Combine 2/3</string>
		<key>description</key>
		<string>Рассказываю как комбинировать различные паблишеры на примере загрузки фотографий из Flickr</string>
		<key>storyboardName</key>
		<string>CombineOperators</string>
		<key>viewControllerName</key>
		<string>CombineOperatorsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Combine 3/3</string>
		<key>description</key>
		<string>Объясняю рефакторинг сетевого слоя их Combine 2/3. Рассказываю про разичные операторы обработки ошибок в Combine.</string>
		<key>storyboardName</key>
		<string>CombineErrors</string>
		<key>viewControllerName</key>
		<string>CombineErrorsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Closures</string>
		<key>description</key>
		<string>Рассказываю о применении замыканий на трех различных примерах, в том числе нетривиальных.</string>
		<key>storyboardName</key>
		<string>ThreeClosures</string>
		<key>viewControllerName</key>
		<string>ThreeClosuresViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UICollectionViewCompositionalLayout</string>
		<key>description</key>
		<string>Рассказываю о новом способе организации лейаута UICollectionView без помощи стандартного метода делегата</string>
		<key>storyboardName</key>
		<string>CompositionalLayout</string>
		<key>viewControllerName</key>
		<string>CompositionalLayoutViewController</string>
	</dict>
</array>
</plist>
